<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
  </div>
  <ion-list>
    <ion-searchbar 
      [(ngModel)]="searchTerm" 
      (ionInput)="onSearchChange($event)" 
      placeholder="Nombre o Proveedor">
    </ion-searchbar>

    <!-- Controles de filtro -->
    <ion-item>
      <ion-label>Subcategoría</ion-label>
      <ion-select [(ngModel)]="selectedSubCategory" (ionChange)="applyFilters()">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
          {{ subCategory.name }}
        </ion-select-option>
      </ion-select>
    </ion-item> 

    <!-- Nuevo filtro para mostrar productos ocultos -->
    <ion-item *ngIf="esGerente">
      <ion-label>Mostrar ocultos</ion-label>
      <ion-toggle [(ngModel)]="showHiddenProducts" (ionChange)="applyFilters()"></ion-toggle>
    </ion-item>

    <!-- Lista de productos -->
    <ion-reorder-group 
      (ionItemReorder)="handleReorder($event)" 
      [disabled]="!isAdmin || (!selectedSubCategory && !allowGlobalReorder)"
      [class]="getReorderGroupClass()">
      <ion-item-sliding *ngFor="let product of displayedProducts">
        <ion-item class="inventory-item" lines="full" [class.hidden-product]="product?.hide_product === 1" >
        <div class="left-info" (click)="isAdmin && handleClick(product)" [class.disabled-style]="!isAdmin">
          <ion-thumbnail slot="start" class="image-container">
            <ion-spinner *ngIf="!imageLoaded[product.product_id]" 
                         name="crescent" 
                         class="image-spinner">
            </ion-spinner>
            <ion-img 
              [src]="product?.image_url || 'assets/product_placeholder.png'"
              alt="{{ product?.product_name }}"
              (ionImgDidLoad)="setImageLoaded(product.product_id)"
              (ionError)="imageLoadError($event, product)">
            </ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2 class="product-name">{{ product?.product_name }}</h2>
            <p *ngIf="isAdmin">Proveedor: {{ product?.provider_name }}</p>
            <p>Precio a Crédito: ${{ product?.credit_price }}</p>
          </ion-label>
        </div>
        <div class="counter-container">
          <div class="dynamic-text">
            {{ getDynamicText(product) }}
          </div>
          <div class="counter-controls">
            <ion-button
              *ngIf="isAdmin"
              fill="clear"
              size="small"
              (click)="decreaseCount(product)"
              [color]="getButtonColor(product)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <div class="counter-value-container">
              <span class="counter-value">{{ product?.current_count }}</span>
              <p *ngIf="product?.current_count === product?.max_amount && isAdmin" class="warning-text">
                ¡Stock máximo!
              </p>
            </div>
            <ion-button
              *ngIf="isAdmin"
              fill="clear"
              size="small"
              (click)="increaseCount(product)"
              [color]="getButtonColor(product)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-button
            *ngIf="isAdmin"
            expand="block"
            size="small"
            class="confirm-button"
            [color]="getButtonColor(product)"
            (click)="confirmAction(product)">
            OK
          </ion-button>
        </div>
        <ion-reorder slot="end" *ngIf="isAdmin && (selectedSubCategory || allowGlobalReorder)">
          <ion-icon name="reorder-three-outline" class="reorder-icon"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-item-sliding>
  </ion-reorder-group>
  </ion-list>
</ion-content>