<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-searchbar 
      [(ngModel)]="searchTerm" 
      (ionInput)="onSearchChange($event)" 
      placeholder="Buscar por ID, Nombre o Proveedor">
    </ion-searchbar>

    <!-- Elemento deslizable -->
    <ion-item-sliding #slidingItem *ngFor="let product of filteredProducts">
      <!-- Elemento principal -->
      <ion-item class="inventory-item">
        <div class="left-info">
          <ion-thumbnail slot="start">
            <ion-img src="https://via.placeholder.com/100" alt="{{ product.product_name }}"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2 class="product-name">{{ product.product_name }}</h2>
            <p>Proveedor: {{ product.provider_name }}</p>
            <p>Precio a Crédito: ${{ product.credit_price }}</p>
          </ion-label>
        </div>
    
        <div class="counter-container">
          <!-- Texto dinámico -->
          <div class="dynamic-text">
            {{ getDynamicText(product) }}
          </div>
    
          <div class="counter-controls">
            <ion-button
              fill="clear"
              size="small"
              (click)="decreaseCount(product)"
              [color]="getButtonColor(product)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <div class="counter-value-container">
              <span class="counter-value">{{ product.current_count }}</span>
              <p *ngIf="product.current_count === product.max_amount" class="warning-text">
                ¡Stock máximo!
              </p>
              
            </div>
            <ion-button
              fill="clear"
              size="small"
              (click)="increaseCount(product)"
              [color]="getButtonColor(product)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
    
          <ion-button
            expand="block"
            size="small"
            class="confirm-button"
            [color]="getButtonColor(product)"
            (click)="confirmAction(product)">
            OK
          </ion-button>
        </div>
      </ion-item>
    
      <!-- Opciones de deslizamiento -->
      <ion-item-options side="end" (ionDrag)="onDrag(slidingItem)">
        <ion-item-option 
          color="primary" 
          (click)="viewProduct(product.product_id)">
          Ver Artículo
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>

