<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Marcas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="provider-list">
    <!-- Proveedor deslizante -->
    <ion-item-sliding *ngFor="let brand of brands">
      <ion-item class="provider-card">
        <ion-thumbnail slot="start">
          <img src="assets/brand.png" alt="{{ brand.name }}">
        </ion-thumbnail>
        <ion-label>
          <p>Nombre</p>
          <h2 class="provider-name">{{ brand.name }}</h2>
          <!-- <p class="provider-id">ID: {{ provider.id }}</p> -->
        </ion-label>
      </ion-item>
      <!-- Opciones al deslizar -->
      <ion-item-options side="end" color="Red">
        <ion-item-option color="danger" (click)="deleteBrand(brand.id)">
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
