<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <h2>Introduce los detalles del cliente</h2>

    <!-- Form Fields -->
    <form (submit)="saveClient()">
      <ion-list lines="full">

        <!-- Nombre -->
        <ion-item class="form-item">
          <ion-label position="floating">Nombre Completo</ion-label>
          <ion-input [(ngModel)]="newClient.name" class="custom-input" name="name" required (ionInput)="capitalizeName()"></ion-input>
        </ion-item>

        <!-- Dirección -->
        <ion-item class="form-item">
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="newClient.address" class="custom-input" name="address" required></ion-input>
        </ion-item>

        <!-- Teléfono -->
        <ion-item class="form-item">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input 
            [(ngModel)]="newClient.phone" 
            class="custom-input" 
            name="phone"
            type="tel" 
            inputmode="numeric" 
            maxlength="10" 
            required 
            (ionInput)="validateNumericInput($event)">
          </ion-input>
        </ion-item>

        <!-- Tipo de Cliente -->
        <ion-item class="form-item">
          <ion-label position="floating">Tipo de Cliente</ion-label>
          <ion-select [(ngModel)]="newClient.type" name="type" placeholder="Seleccione uno" required>
            <ion-select-option value="1">Bueno</ion-select-option>
            <ion-select-option value="2">Regular</ion-select-option>
            <ion-select-option value="0">Malo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Submit Button -->
      <ion-footer class="footer edit-footer">
        <ion-button  class="guardar-button" expand="block" color="success" type="submit">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          Guardar Cliente
        </ion-button>
      </ion-footer>
    </form>
  </div>
</ion-content>
