<ion-header>
  <ion-toolbar>
    <ion-title>Información del Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <ion-avatar class="profile-avatar">
      <img src="assets/user_src.png" alt="Client Picture">
    </ion-avatar>
    <h2>{{ customerInfo?.name }}</h2>
    <p>{{ customerInfo?.phone }}</p>
  </div>

  <div class="top-button-container">
    <ion-button color="light" class="regresar-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Regresar
    </ion-button>
    <ion-button color="secondary" (click)="toggleEditMode()">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Editar
    </ion-button>
  </div>

  <div class="account-info">
    <div class="top-cliente"><h3>Detalles del Cliente</h3></div>
    <ion-list lines="none">
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          <h2 [ngStyle]="{ 'font-weight': isEditMode ? 'bold' : 'normal' }">Dirección</h2>
          <p *ngIf="!isEditMode">{{ customerInfo?.address }}</p>
          <ion-input *ngIf="isEditMode" [(ngModel)]="customerInfo!.address" placeholder="Dirección" [ngClass]="{ 'edit-background': isEditMode }"></ion-input>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>
          <h2 [ngStyle]="{ 'font-weight': isEditMode ? 'bold' : 'normal' }">Teléfono</h2>
          <p *ngIf="!isEditMode">{{ customerInfo?.phone }}</p>
          <ion-input *ngIf="isEditMode" [(ngModel)]="customerInfo!.phone" placeholder="Teléfono" [ngClass]="{ 'edit-background': isEditMode }"></ion-input>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h2 [ngStyle]="{ 'font-weight': isEditMode ? 'bold' : 'normal' }">Tipo de Cliente</h2>
          <p *ngIf="!isEditMode">{{ customerInfo?.type === 1 ? 'Bueno' : customerInfo?.type === 2 ? 'Regular' : 'Malo' }}</p>
          <ion-select *ngIf="isEditMode" [(ngModel)]="customerInfo!.type">
            <ion-select-option value="1">Bueno</ion-select-option>
            <ion-select-option value="2">Regular</ion-select-option>
            <ion-select-option value="0">Malo</ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Última Actualización</h2>
          <p>{{ customerInfo?.updated_at }}</p>
        </ion-label>
        <ion-button class="ver-historial" expand="block" color="success">
          <ion-icon slot="start" name="eye"></ion-icon>
          Historial
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-footer *ngIf="isEditMode" class="edit-footer">
      <div class="bottom-action-buttons">
        <ion-button class="guardar-button" expand="block" color="success" (click)="saveChanges()">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          Guardar
        </ion-button>
        <ion-button class="cancelar-button" expand="block" color="danger" (click)="cancelEdit()">
          <ion-icon slot="start" name="close-outline"></ion-icon>
          Cancelar
        </ion-button>
      </div>
    </ion-footer>
  </div>
  
  
</ion-content>
