<ion-content class="page-content ion-padding">
  <div class="login-page">
    <div class="login-header">
      <img src="assets/logo_img.png" alt="Logo" class="logo" />
      <h2 class="app-name">Mueblería Solaris</h2>
    </div>

    <div class="login-form">
      <form (ngSubmit)="login()">
        <!-- Username Input -->
        <ion-item class="custom-item">
          <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
          <ion-input
            #usernameInput
            [(ngModel)]="username"
            name="username"
            placeholder="Usuario"
            required
          ></ion-input>
        </ion-item>

        <!-- Password Input -->
        <ion-item class="custom-item">
          <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
          <ion-input
            [(ngModel)]="password"
            name="password"
            placeholder="Contraseña"
            type="text"
            required
          ></ion-input>
        </ion-item>
               

        <!-- Submit Button -->
        <ion-button expand="block" type="submit" class="custom-button">Entrar</ion-button>
      </form>

      <!-- Forgot Password -->
      <p class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </p>
    </div>
  </div>
</ion-content>
