<ion-app>
  <!-- Header with dynamic title, only shown if not on login page -->
  <ion-header *ngIf="!isLoginPage">
    <ion-toolbar color="primary">
      <ion-title class="small-title">{{ menuTitle }}</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-avatar slot="end" class="menu-perfil-header">
            <img src="https://via.placeholder.com/110x110">
          </ion-avatar>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Side Menu, only shown if not on login page -->
  <app-menu *ngIf="!isLoginPage"></app-menu>

  <!-- Main Content Area -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Footer, also conditionally shown if not on login page -->
  <ion-footer *ngIf="!isLoginPage">
    <ion-toolbar>
      <ion-title class="footer-title">Copyright © 2024 Muebleria Solaris</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
