
/* Ocultar el footer en pantallas pequeñas */
// @media (max-width: 770px) {
//   ion-footer {
//     display: none;
//   }
// }

ion-menu ion-item {
  --border-width: 0;
  text-decoration: none; /* Removes the underline */
  border-bottom: none; /* In case there is a border */
}
ion-item {
  a {
    text-decoration: none;
  }
}
.small-title {
  font-size: 1.1rem; /* Adjust the font size as desired */
  font-weight: normal; /* Optional: adjust font weight */
}
.footer-title {
  font-size: 0.8rem; /* Adjust this value as needed */
  font-weight: normal; /* Optional: adjust font weight */
  text-align: center; /* Ensures it stays centered */
}


ion-menu {
  --background: #ffffff;
}

ion-toolbar {
  --background: #3880ff; /* Primary color */
}

ion-card {
  --background: #f3f4f6;
}

ion-title {
  color: white;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.logo {
  width: 50px; /* Adjust size as needed */
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 0px 0px 20px 0px;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}
ion-list-header{
  font-size: 20px;
}
ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.sidemenu-logo{
  padding: 10px;
  margin-right: 20px;
}
.menu-perfil-header{
  padding: 10px;
}
.button-close-sidemenu{
  margin: 0 auto;
  margin-top: -10px;
}
ion-menu ion-header {
  height: 70px; /* Ajusta la altura para que coincida con el header principal */
}

ion-menu ion-header ion-toolbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-title {
  margin-left: 16px; /* Ajusta el margen izquierdo para alinear el título */
}

ion-toolbar {
  display: flex;
  justify-content: start; /* Aligns all content to the left */
}

ion-title.small-title {
  margin-left: -25px; /* Optional: Adjust as needed for exact spacing */
  text-align: left; /* Ensures text aligns to the left within ion-title */
  flex-grow: 1; /* Allows the title to take available space */
}

/* app.component.scss */
.menu-perfil-header {
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: transform 0.2s ease; /* Agrega una transición suave */
}

.menu-perfil-header:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
}