/* Lista general */
.user-list {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 450px;
  }
  
  /* Tarjetas de usuarios */
  .user-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 8px 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .user-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagen circular del usuario */
  ion-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }
  
  ion-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  /* Nombre del usuario */
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  /* Rol del usuario */
  .user-role {
    font-size: 0.9rem;
    color: #666;
    margin: 2px 0;
  }
  
  /* Opciones al deslizar */
  ion-item-sliding {
    margin: 8px 0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  ion-item-options {
    border-radius: 10px;
    overflow: hidden;
  }
  
  ion-item-option {
    text-align: center;
    padding: 10px 0;
  }
  
  .user-card {
    --box-shadow: none; /* Elimina el efecto de sombra */
  }
  
  ion-item.user-card {
    border: none !important;
    --ion-border-color: transparent; /* Asegúrate de eliminar cualquier borde aplicado con Ionic */
  }
  
  /* Responsividad */
  @media (max-width: 576px) {
    .user-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    ion-thumbnail {
      margin-bottom: 10px;
    }
  
    ion-item.user-card {
      border: none !important;
      --ion-border-color: transparent; /* Asegúrate de eliminar cualquier borde aplicado con Ionic */
    }
  }

  /* Estilos para los íconos de gerente */
ion-icon[name="star"] {
  color: var(--ion-color-warning);
}

ion-icon[name="star-outline"] {
  color: var(--ion-color-medium);
}

.user-name {
  font-weight: 500;
  margin-bottom: 4px;
}

/* Estilo para resaltar gerentes */
.gerente-true {
  background: rgba(var(--ion-color-warning-rgb), 0.1);
}