<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Subcategoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-card">
    <h2>Introduce los detalles de la subcategoría</h2>

    <form (submit)="saveSubcategory()">
      <ion-list lines="none">
        <!-- Nombre de la Subcategoría -->
        <ion-item class="form-item">
          <ion-label class="title-item" position="stacked">Nombre de la Subcategoría</ion-label>
          <ion-input [(ngModel)]="newSubcategory.name" name="name" required></ion-input>
        </ion-item>

        <!-- Selección de Categoría Padre (Opcional) -->
        <ion-item class="form-item" *ngIf="categories.length > 0">
          <ion-label class="title-item" position="stacked">Categoría Padre</ion-label>
          <ion-select [(ngModel)]="newSubcategory.category_id" name="category_id" interface="action-sheet">
            <ion-select-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Fecha de Creación (Solo Lectura) -->
        <ion-item class="form-item">
          <ion-label class="title-item" position="stacked">Fecha de Creación</ion-label>
          <ion-input [(ngModel)]="newSubcategory.created_at" name="created_at" readonly></ion-input>
        </ion-item>

        <!-- Última Actualización (Solo Lectura) -->
        <ion-item class="form-item">
          <ion-label class="title-item" position="stacked">Última Actualización</ion-label>
          <ion-input [(ngModel)]="newSubcategory.updated_at" name="updated_at" readonly></ion-input>
        </ion-item>
      </ion-list>

      <!-- Botón Guardar -->
      <ion-footer class="footer edit-footer">
        <ion-button expand="block" color="primary" type="submit">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          Guardar Subcategoría
        </ion-button>
      </ion-footer>
    </form>
  </div>
</ion-content>