<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de búsqueda -->
  <div [class.is-not-admin]="isAdmin" class="search-container">
    <ion-searchbar 
      class="search-bar"
      [(ngModel)]="searchTerm" 
      (ionInput)="onSearchInput()"
      placeholder="Buscar por nombre o teléfono">
    </ion-searchbar>
  
    <ion-button 
      *ngIf="isAdmin"
      class="add-client-button" 
      color="primary" 
      (click)="goToAddClient()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Agregar Cliente
    </ion-button>
  </div>

  <!-- Tabla de clientes -->
  <ion-grid class="customer-table">
    <ion-row class="header-row">
      <ion-col size="3"><strong>Nombre</strong></ion-col>
      <ion-col size="3"><strong>Dirección</strong></ion-col>
      <ion-col size="3"><strong>Teléfono</strong></ion-col>
      <ion-col size="3"><strong>Tipo de Cliente</strong></ion-col>
    </ion-row>
    
    <!-- Add swipe gestures to each row -->
    <ion-item-sliding *ngFor="let customer of paginatedCustomers">
      <ion-item  class="item-val">
        <ion-col size="3">{{ customer?.name }}</ion-col>
        <ion-col size="3">{{ customer.address }}</ion-col>
        <ion-col size="3" class="cel-center">{{ customer.phone }}</ion-col>
        <ion-col size="3" class="customer-type">
          <span [ngClass]="getCustomerTypeClass(customer.type)" class="type-label">
            {{ getCustomerTypeName(customer.type) }}
          </span>
        </ion-col>
      </ion-item> 
      <!-- Only admins see this "View Details" button on swipe -->
      <ion-item-options side="start" *ngIf="isAdmin">
        <ion-item-option color="primary" (click)="viewCustomerDetails(customer.id)">
          Ver Perfil
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-grid>

  <!-- Controles de paginación -->
  <div class="pagination-controls">
    <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</ion-button>
    <ion-button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= customers.length">Siguiente</ion-button>
  </div>
</ion-content>
<!-- Footer -->
<app-footer></app-footer>