<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard-container">
    <!-- Resumen de Ventas -->
    <div class="card">
      <h3>Total de Ventas</h3>
      <p class="big-number">$45,230.00</p>
    </div>

    <div class="card">
      <h3>Productos Vendidos</h3>
      <p class="big-number">1,230</p>
    </div>

    <div class="card">
      <h3>Clientes Activos</h3>
      <p class="big-number">250</p>
    </div>

    <!-- Gráfica de Ventas -->
    <div class="card">
      <h3>Gráfica de Ventas</h3>
      <canvas id="salesChart"></canvas>
    </div>

    <!-- Productos Más Vendidos -->
    <div class="card">
      <h3>Productos Más Vendidos</h3>
      <ul class="product-list">
        <li>
          <span>Licuadora Pro</span>
          <span>350 unidades</span>
        </li>
        <li>
          <span>Televisor LED 55"</span>
          <span>280 unidades</span>
        </li>
        <li>
          <span>Aire Acondicionado Mirage</span>
          <span>220 unidades</span>
        </li>
      </ul>
    </div>
     <!-- Botón (se oculta si no tiene gerencia) -->
    <ion-button *ngIf="esGerente" (click)="calcularTotalInventario()">
      Calcular Total Inventario
    </ion-button>

    <!-- Tabla para mostrar el resultado -->
    <ion-card *ngIf="totalInventario !== null">
      <ion-card-header>
        <ion-card-title>Resumen de Inventario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col><strong>Producto</strong></ion-col>
            <ion-col><strong>Total</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Todos los productos</ion-col>
            <ion-col>${{ totalInventario | number:'1.2-2' }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
