<ion-menu contentId="main-content" type="overlay" menuId="main-menu" [swipeGesture]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title slot="start" class="menu-title">Menu Principal</ion-title>
      <ion-avatar slot="end" class="menu-avatar sidemenu-logo">
        <ion-img src="assets/logo_img.png"></ion-img>
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content">
    <!-- Main Menu Items aligned at the top -->
    <ion-list class="ion-list-primary">
      <!-- Panel Informativo -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/dashboard')"
        [class.active-item]="isActive('/dashboard')">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        <ion-label>Panel Informativo</ion-label>
      </ion-item>

      <!-- Clientes -->
      <ion-item
        *ngIf="isAdmin || !isAdmin"
        (click)="navigateOrReload('/clientes')"
        [class.active-item]="isActive('/clientes')">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-item>

      <!-- Agregar Clientes -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/agregar-clientes')"
        [class.active-item]="isActive('/agregar-clientes')">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        <ion-label>Agregar Clientes</ion-label>
      </ion-item>

      <!-- Inventario -->
      <ion-item
        *ngIf="isAdmin || !isAdmin"
        (click)="navigateOrReload('/inventario')"
        [class.active-item]="isActive('/inventario')">
        <ion-icon slot="start" name="cube-outline"></ion-icon>
        <ion-label>Inventario</ion-label>
      </ion-item>

      <!-- Agregar Inventario -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/agregar-inventario')"
        [class.active-item]="isActive('/agregar-inventario')">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label>Agregar Inventario</ion-label>
      </ion-item>

      <!-- Pedidos -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/pedidos')"
        [class.active-item]="isActive('/pedidos')">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-item>

      <!-- Subcategorías -->
      <ion-item
      *ngIf="isAdmin"
      (click)="navigateOrReload('/categorias')"
      [class.active-item]="isActive('/categorias')">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>Subcategorías</ion-label>
      </ion-item>

      <!-- Agregar Subcategoría -->
      <ion-item
      *ngIf="isAdmin"
      (click)="navigateOrReload('/agregar-subcategoria')"
      [class.active-item]="isActive('/agregar-subcategoria')">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      <ion-label>Agregar Subcategoría</ion-label>
      </ion-item>

      <!-- Proveedores -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/proveedores')"
        [class.active-item]="isActive('/proveedores')">
        <ion-icon slot="start" name="business-outline"></ion-icon>
        <ion-label>Proveedores</ion-label>
      </ion-item>

      <!-- Agregar Proveedor -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/agregar-proveedor')"
        [class.active-item]="isActive('/agregar-proveedor')">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        <ion-label>Agregar Proveedor</ion-label>
      </ion-item>

      <!-- Marcas -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/marcas-productos')"
        [class.active-item]="isActive('/marcas-productos')">
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>Marcas</ion-label>
      </ion-item>

      <!-- Agregar Marca Producto -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/agregar-marca-producto')"
        [class.active-item]="isActive('/agregar-marca-producto')">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label>Agregar Marca Producto</ion-label>
      </ion-item>

      <!-- Usuarios del Sistema -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/usuarios-sistema')"
        [class.active-item]="isActive('/usuarios-sistema')">
        <ion-icon slot="start" name="people-circle-outline"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-item>

      <!-- Crear Usuario -->
      <ion-item
        *ngIf="isAdmin"
        (click)="navigateOrReload('/crear-usuario')"
        [class.active-item]="isActive('/crear-usuario')">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        <ion-label>Crear Usuario</ion-label>
      </ion-item>

      <!-- Perfil -->
      <ion-item
        *ngIf="isAdmin || !isAdmin"
        (click)="navigateOrReload('/perfil')"
        [class.active-item]="isActive('/perfil')">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-list>

    <!-- Botón de Salir -->
    <ion-list class="logout-list">
      <ion-item lines="none">
        <ion-button class="logout_st_btn" expand="block" color="danger" (click)="logout()">
          <ion-icon class="logout_st" slot="start" name="log-out-outline"></ion-icon>
          Salir
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>