/* Main content style for the menu */
.menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    background: #0057e7; /* Dark blue background */
  }
  
  /* Primary list styles (top menu items) */
  .ion-list-primary {
    flex: 1; /* Take remaining space, so logout stays at the bottom */
    margin-top: 20px;
    padding: 0;
    height: 90%;
  }
  
  .ion-list-primary ion-item {
    --background: none; /* Transparent background */
    color:  black;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .ion-list-primary ion-icon {
    color: #0054e9; /* Gold color for icons */
    font-size: 22px;
  }
  
  .ion-list-primary ion-label {
    color: #4f4f4fe0; /* White text */
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Hover effect for ion-items */
  .ion-list-primary ion-item:hover {
    --background: rgba(255, 255, 255, 0.1); /* Light overlay */
    cursor: pointer;
  }
  
  /* Style for the Logout button */
  .logout-list {
    margin-top: auto;
  }
  
  .logout_st_btn {
    --background: #d9534f; /* Red background for logout */
    color: white;
    font-weight: bold;
    --border-radius: 8px;
    padding: 10px 0;
    margin: 5px 0 0;
    width: 100%;
    justify-content: center; /* Center-align the button text */
    font-size: 15px;
  }
  
  .logout_st {
    color: white; /* White icon color */
    font-size: 22px;
    padding: 3.5px;
  }
  
  /* Style for the header */
  .menu-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    //margin-left: -75px;
    padding-right: 55px;
  }
  
  .menu-avatar {
    border-radius: 50%;
    border: 0.1rem solid #ffffff;
    padding: 1px;
    margin: 3px 15px;
  }
  
  /* Optional: Align the avatar and title for better visual appeal */
  .menu-avatar ion-img {
    border-radius: 50%;
  }
  
  ion-item.active-item {
    background-color: #ffebee; /* Fondo rojo claro */
    --background: #ffebee; /* Para asegurar compatibilidad */
    color: #d32f2f; /* Texto rojo oscuro */
    font-weight: bold; /* Resaltar la opción activa */
  }
  
  ion-item.active-item ion-icon {
    color: #d32f2f; /* Ícono rojo oscuro */
  }
  
  ion-item.active-item ion-label {
    color: #d32f2f; /* Texto del label en rojo oscuro */
  }
  