<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <h2>Introduce los detalles del usuario</h2>

    <!-- Form Fields -->
    <form (submit)="saveUser()">
      <ion-list lines="full">

        <!-- Nombre -->
        <ion-item class="form-item">
          <ion-label position="floating">Nombre Completo</ion-label>
          <ion-input [(ngModel)]="newUser.name" class="custom-input" name="name" required required (ionInput)="capitalizeName()"></ion-input>
        </ion-item>

        <!-- Nombre de Usuario -->
        <ion-item class="form-item">
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="newUser.username" class="custom-input" name="username" required></ion-input>
        </ion-item>

        <!-- Correo Electrónico -->
        <ion-item class="form-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="newUser.email" class="custom-input" name="email" type="email" required></ion-input>
        </ion-item>

        <!-- Nombre de la Empresa -->
        <ion-item class="form-item">
          <ion-label position="floating">Nombre de la Empresa</ion-label>
          <ion-input [(ngModel)]="newUser.company_name" class="custom-input" name="company_name"></ion-input>
        </ion-item>

        <!-- Dirección -->
        <ion-item class="form-item">
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="newUser.address" class="custom-input" name="address"></ion-input>
        </ion-item>

        <!-- Teléfono -->
        <ion-item class="form-item">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input
            [(ngModel)]="newUser.phone"
            class="custom-input"
            name="phone"
            type="tel"
            inputmode="numeric"
            maxlength="10"
            (ionInput)="validateNumericInput($event)">
          </ion-input>
        </ion-item>

        <!-- Rol -->
        <ion-item class="form-item">
          <ion-label position="floating">Rol</ion-label>
          <ion-select [(ngModel)]="newUser.role" name="role" placeholder="Seleccione un rol" required>
            <ion-select-option value="4">Administrador</ion-select-option>
            <ion-select-option value="1">Vendedor</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Contraseña con alternar visibilidad -->
        <ion-item class="form-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [(ngModel)]="newUser.password"
            class="custom-input"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            required>
          </ion-input>
          <ion-icon
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            slot="end"
            class="password-toggle-icon"
            (click)="togglePasswordVisibility()">
          </ion-icon>
        </ion-item>


      </ion-list>

      <!-- Submit Button -->
      <ion-footer class="footer edit-footer">
        <ion-button class="guardar-button" expand="block" color="success" type="submit">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          Guardar Usuario
        </ion-button>
      </ion-footer>
    </form>
  </div>
</ion-content>